<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.css">
    <link rel="canonical" href="https://codepen.io/nakome/pen/vmKwQg">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>

</head>
<body>
    <%- include('./includes/sidebar.ejs') %>
    <main class="main-wrap">
        <section class="content-main">
            <div class="container">
                <div class="row">
                       
                      
                          
                                <div class="text-center mt-5">
                                    <p class="text-danger"><%=(typeof message!=='undefined')?message:""%></p>
                                </div>
                                <% for(let i=0 ; i< category.length ;i++){%>
                                    <div class="col-lg-3">
                                <div class="card ">
                                    <div class="card-header">
                                        <h4>Offer</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                          <h5 style="color: rgb(28, 25, 160);"><%= category[i].name %></h5> 
                                            <form action="/admin/categoryOffer" method="post">
                                                <h6><label for="offer">Update Category Offer</label></h6>
                                                <input class="form-control" name="offerPercentage" type="text">
                                                <input class="form-control" name="id" type="hidden" value="<%= category[i]._id %>">
                                                <br>
                                                <button class="btn btn-sm btn-light rounded " style="color: rgb(255, 255, 255); background-color: rgb(70, 149, 122);" type="submit">save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- card end// -->
                    
                            </div>
                    
                                <%}%>
                             
                            

                              
                           
                        </div>
                    </div>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    </div>
                </div> 
            </div>
        </section> 
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
