<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <!-- <div class="screen-overlay"></div> -->

    <%- include('./includes/sidebar.ejs') %>
        <style>
            .custom-form {
                background-color: #aaaaaa;
                color: #333;
            }
        </style>

        <div class="main-wrap">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <!-- <h2 class="content-title">Add New Product</h2> -->
                    <form action="/admin/addproducts" method="post" enctype="multipart/form-data" id="myForm"
                        class="mt-3 p-2 border rounded custom-form">
                        <section class="content header">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">

                                            <label for="name" class="col-form-label">Product name:</label>
                                            <input type="text" id="name" name="name" onkeyup="nameValidation()"
                                                class="form-control form-control-sm rounded" required></br>
                                                <span id="nameError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <label for="image">Image:</label>
                                            <input type="file" id="image" name="image"
                                                class="col-form-label form-control-sm rounded"
                                                onchange="viewImage1(event),viewImage(event, 1)"
                                                accept="image/jpg,image/png,image/gif,image/webp" multiple><br>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <label for="price" class="col-form-label">Price:</label>
                                            <input type="number" id="price" name="price"
                                                class="col-form-label form-control-sm rounded"
                                                onkeyup="priceValidation()"><br>
                                                <span id="priceError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <label for="description" class="col-form-label">Description:</label>
                                            <textarea id="description" name="description" class="col-form-label"
                                                onkeyup="descriptionValidation()"></textarea><br>
                                                <span id="descriptionError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <label for="category" class="col-form-label">Category:</label>
                                            <select class="form-select" name="category"
                                                class="col-form-label form-control-sm rounded">
                                                <% category.forEach(function(category) { %>
                                                    <option value="<%= category._id %>">
                                                        <%= category.name %>
                                                    </option>
                                                    <% }) %>
                                            </select><br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <label for="stock" class="col-form-label">Stock:</label>
                                            <input type="number" placeholder="00.0" name="stock" id="stock"
                                                class="col-form-label form-control-sm rounded"
                                                onkeyup="stockValidation()"><br>
                                                <span id="stockError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div> -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 offset-md-3 text-center">
                                        <a href='/admin/products' class="btn btn-primary">add Product</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>

            </div>

        </div>
        </div>
        <script>
            const myForm = document.getElementById("myForm")
  
  
          const name = document.getElementById("name")
          const description = document.getElementById("description")
          const price = document.getElementById("price")
          const stock = document.getElementById("stock")
  
  
          const nameError = document.getElementById("nameError")
          const descriptionError = document.getElementById("descriptionError")
          const priceError = document.getElementById("priceError")
          const stockError = document.getElementById("stockError")
  
        function nameValidation(){
        const nameValue = name.value
              if(nameValue.trim()==0){
                  nameError.innerHTML = 'Product title is required'
                  nameError.style.color = 'red'
                  name.style.border = "solid 2px red";
                  return false;
              }
        nameError.innerHTML = ""
              nameError.style.color = "green"
              name.style.border = "solid 2px green";
              return true
          
  
  
        }
        
  
        function descriptionValidation(){
        const descriptionValue = description.value
              if(descriptionValue.trim()==0){
                  descriptionError.innerHTML = 'Descripion is required'
                  descriptionError.style.color = 'red'
                  description.style.border = "solid 2px red";
                  return false;
              }
        descriptionError.innerHTML = ""
              descriptionError.style.color = "green"
              description.style.border = "solid 2px green";
              return true
          
  
  
        }
  
        function priceValidation(){
        const priceValue = price.value
              if(priceValue.trim()==0){
                  priceError.innerHTML = 'Price is Required'
                  priceError.style.color = 'red'
                  price.style.border = "solid 2px red";
                  return false;
              }
        if(priceValue <= 0 ){
                  priceError.innerHTML = 'Price Must be greater than zero'
                  priceError.style.color = 'red'
                  price.style.border = "solid 2px red";
                  return false;
              }
        priceError.innerHTML = ""
              priceError.style.color = "green"
              price.style.border = "solid 2px green";
              return true
          
  
  
        }
  
  
        function stockValidation(){
        const stockValue = stock.value
              if(stockValue.trim()==0){
                  stockError.innerHTML = 'Stock is Required'
                  stockError.style.color = 'red'
                  stock.style.border = "solid 2px red";
                  return false;
              }
        if(stockValue <  0 ){
                  stockError.innerHTML = 'Stock Must be greater than or equal to zero'
                  stockError.style.color = 'red'
                  stock.style.border = "solid 2px red";
                  return false;
              }
        stockError.innerHTML = ""
              stockError.style.color = "green"
              stock.style.border = "solid 2px green";
              return true
          
  
  
        }
  
  
  
  
  
  
  
  
  
  
        myForm.addEventListener("submit",(event)=>{
              event.preventDefault();
              if(!nameValidation() || !descriptionValidation() || ! priceValidation()) {
                  return false
              }else{
                  myForm.submit()
              }
  
          })
  
  
  
  
      </script>
</body>

</html>