<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="" class="logo" alt="">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu active">
                <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/products">Product List</a>
                    <!-- <a href="/admin/addproducts"></a> -->
                    
                </div>
            </li>
            <li class="menu-item has-submenu">
                 <a class="menu-link" href="/admin/loadcategories"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Categories</span>
                </a>
                <div class="submenu">
                    <a href="/admin/loadcategories">Category list</a>
                    
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/userlist"> <i class="icon material-icons md-store"></i>
                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <a href="/admin/userlist">User list</a>
                    
                   
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href=""> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Order Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/orderManage">orders</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">SalesReport</span>
                </a>
                <div class="submenu">
                    <a href="/admin/salesreport">Sales</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/adminLogout"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
                <div class="submenu">
                    <a href="/admin/adminLogout">Admin logout</a>
                    
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/couponlist"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Coupon Management</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/bannerlist"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Banners</span> </a>
            </li>
           
        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Offer Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/loadoffer">Category offer</a>
                    <a href="/admin/productOffer">Product offer</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text"> Starter page </span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>
